.header{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: rgb(200, 255, 0);
    width: 100%;
    height: 7rem;

}
.header__nav__item--active{
    background-color: red;
    color: aqua;
}